# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Output Files
outputs/models/
outputs/figures/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

